{% set content %}
    {% block content %}
        Sorry, no content
    {% endblock %}
{% endset %}

{% set container %}
    {% include '@nucleus/container.html.twig' with {segments: pageSegments} %}
{% endset %}

<!doctype html>
<html {{site.language_attributes}}>
    {% block html_head_container %}
        {% include 'partials/head.twig' %}
    {% endblock %}

    <body class="{{body_class}}" data-template="{{ twigTemplate|default('base.twig') }}">
        {{ container }}

        {% block footer_container %}
        {{ function('wp_footer') }}
        {% endblock %}
    </body>
</html>
