{% set value = (value is null ? field.default : value) %}

<label class="inline">
    {{ field.label }}
    <input  type="text"
            class="input"
            name="{{ field.name }}"
            value="{{ value|join(', ') }}"
            {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
            {% if field.autofocus in ['on', 'true', 1] %}autofocus="autofocus"{% endif %}
            {% if field.novalidate in ['on', 'true', 1] %}novalidate="novalidate"{% endif %}
            {% if field.autocomplete in ['on', 'off'] %}autocomplete="{{ field.autocomplete }}"{% endif %}
            {% if field.validate.required in ['on', 'true', 1] %}required="required"{% endif %}
            {% if field.validate.pattern %}pattern="{{ field.validate.pattern }}"{% endif %}
    />
</label>
