{% extends ajax ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block content %}
    <div id="g5-container" class="container">
        <div class="grid">
            <div class="block">
                <div data-mode-indicator="production"></div>
                <section id="main">
                    <div class="content">
                        <div class="button-bar">
                            <button class="button" type="submit" name="task" value="add"><i class="fa fa-plus"></i> Add</button>
                        </div>
                        <h1><i class="fa fa-fw fa-plug"></i> Themes</h1>

                        <div class="themes card-row grid fixed-blocks pure-g">
                            {% for id, theme in styles %}
                                <div class="theme card-item pure-u-1-3">
                                    <div class="theme-name">
                                        <i class="fa fa-fw fa-{{ theme.icon|default('lock')|e }}"></i>
                                        <a href="?option=com_gantryadmin&view=overview&style={{ id|url_encode }}">{{ theme.name|title|e }}</a>
                                    </div>
                                    <div class="theme-id">{{ theme.title|e }}</div>
                                    <div class="theme-screenshot">
                                        <a href="?option=com_gantryadmin&view=overview&style={{ id|url_encode }}"><img src="{{ url('gantry-themes://' ~ theme.name|url_encode ~ '/' ~ theme.thumbnail|url_encode)|default('http://www.placehold.it/206x150/f4f4f4') }}" /></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
