{% extends 'partials/particle.html.twig' %}

{% block particle %}
<nav class="g-main-nav" role="navigation">
    <ul class="g-toplevel">
        {% for item in menu.items %}
        <li id="g-menu-item-{{item.ID}}" class="g-nav-main-item {{item.classes | join(' ')}}">
            <a href="{{item.link}}">{{item.title}}</a>
            {% if (item.children) %}
            <div class="g-dropdown">
                <ul class="g-sublevel">
                    {% for child in item.children %}
                    <li id="g-menu-item-{{child.ID}}" class="g-menu-item {{child.classes | join(' ')}}">
                        <a href="{{child.link}}">{{child.title}}</a>
                     </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}
