<head>
    {% block head_meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Header</title>
    {% endblock %}

    {% block head_stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ theme_url }}/css-compiled/nucleus.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css-compiled/template.css" type="text/css" />
    <!--[if (gte IE 8)&(lte IE 9)]>
        <script type="text/javascript" src="{{ theme_url }}/js/html5shiv-printshiv.min.js"></script>
        <link rel="stylesheet" href="{{ theme_url }}/css/nucleus-ie9.css" type="text/css" />
        <link rel="stylesheet" href="{{ theme_url }}/css/pure-0.5.0/grids-min.css" type="text/css" />
    <![endif]-->
    {% endblock %}

    {% block head_application %}
    {% endblock %}

    {% block head %}{% endblock %}
</head>
