{% set twigTemplate = 'pagination.html.twig' %}

<div class="pagination">

    {% block pagination %}

        {% if pagination.prev %}
            <a href="{{ pagination.prev.link }}" class="prev {{ pagination.prev.link|length ? '' : 'hide' }}">{{ __('Prev', 'g5_hydrogen') }}</a>
        {% endif %}

        {% for page in pagination.pages %}
            {% if page.link %}
                <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
            {% else %}
                <span class="{{ page.class }}">{{ page.title }}</span>
            {% endif %}
        {% endfor %}

        {% if pagination.next %}
            <a href="{{ pagination.next.link }}" class="next {{ pagination.next.link|length ? '' : 'hide' }}">{{ __('Next', 'g5_hydrogen') }}</a>
        {% endif %}

    {% endblock %}

</div>
