{% extends "partials/tease.html.twig" %}

{% block content %}

    {# Begin Entry Header #}
    <div class="entry-header">

        {# Begin Entry Title #}
        {% if gantry.config.get(scope ~ '.title.enabled', '1') %}
            <h2 class="entry-title">
                {% if gantry.config.get(scope ~ '.title.link', '0') %}
                    <a href="{{ post.link }}" title="{{ post.title }}">{{ post.title }}</a>
                {% else %}
                    {{ post.title }}
                {% endif %}
            </h2>
        {% endif %}
        {# End Entry Title #}

        {# Begin Entry Meta #}
        {% if gantry.config.get(scope ~ '.meta-date.enabled', '1') or gantry.config.get(scope ~ '.meta-author.enabled', '1') or gantry.config.get(scope ~ '.meta-comments.enabled', '1') or gantry.config.get(scope ~ '.meta-categories.enabled', '1') or gantry.config.get(scope ~ '.meta-tags.enabled', '0') %}
            {% include ['partials/meta-' ~ post.format ~ '.html.twig', 'partials/meta.html.twig'] %}
        {% endif %}
        {# End Entry Meta #}

    </div>
    {# End Entry Header #}

    {# Begin Entry Content #}
    <div class="entry-content">

        {# Check if post is password protected #}
        {% if not function( 'post_password_required', post.ID ) %}

            {# Begin Featured Image #}
            {% if gantry.config.get(scope ~ '.featured-image.enabled', '1') and post.thumbnail.src %}
                {% set position = (gantry.config.get(scope ~ '.featured-image.position', 'none') == 'none') ? '' : 'float-' ~ gantry.config.get(scope ~ '.featured-image.position', 'none') %}
                <a href="{{ post.link }}" class="post-thumbnail" aria-hidden="true">
                    <img src="{{ post.thumbnail.src|resize(gantry.config.get(scope ~ '.featured-image.width', '1200'), gantry.config.get(scope ~ '.featured-image.height', '350')) }}" class="featured-image tease-featured-image {{ position }}" alt="{{ post.title }}" />
                </a>
            {% endif %}
            {# End Featured Image #}

            {# Begin Tease #}
            <p>{{ post.get_preview(gantry.config.get(scope ~ '.post-content.length', '55'), gantry.config.get(scope ~ '.excerpt.trim', '0'), false, false) }}</p>

            <a href="{{ post.link }}" class="read-more button">{{ gantry.config.get(scope ~ '.read-more.label', 'Read More') }}</a>
            {# End Tease #}

        {% else %}

            {# Include the password form #}
            {% include 'partials/password-form.html.twig' %}

        {% endif %}

    </div>
    {# End Entry Content #}

{% endblock %}
