{% extends "partials/page.html.twig" %}
{% set twigTemplate = 'single.html.twig' %}

{% block content %}
    {# Enable WordPress specific CSS styling #}
    {% do gantry.theme.wordpress(true) %}

    <div class="platform-content">
        <div class="content-wrapper">
            <article class="post-type-{{post.post_type}} {{ post.class }}" id="post-{{post.ID}}">
                <section class="article-content">
                    <h1 class="article-h1">{{post.title}}</h1>

                    <p class="blog-author">
                        <span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.post_date|date}}
                    </p>

                    <div class="article-body">
                        {{post.get_paged_content}}
                    </div>
                </section>

                <section id="comments" class="comments-area">
                    <div class="responses">
                        {% for cmt in post.get_comments() %}
                            {% include "partials/comment.html.twig" with {comment:cmt} %}
                        {% endfor %}
                    </div>
                    <div class="respond">
                        <h3 class="h2">Comments</h3>
                        {{ comment_form }}
                    </div>
                </section>

            </article>
        </div> <!-- /content-wrapper -->
    </div>

{% endblock %}
