<input type="checkbox"
       class="settings-param-toggle"
       id="of-{{ scope ~ name }}"{{ has_value ? ' checked="checked"' }}
       role="checkbox"
       aria-label="{{ 'GANTRY5_PLATFORM_OVERRIDE_CHECKBOX'|trans((scope ~ name)|replace({'.': ' '})|title|trim) }}"
       title="{{ 'GANTRY5_PLATFORM_OVERRIDE_CHECKBOX'|trans(field.label) }}" />
<label class="settings-param-override" for="of-{{ scope ~ name }}"></label>
