{% macro input(name, value = "", type = "text", size = 20) %}
    <input type="{{ type }}" name="{{ name }}" value="{{ value|e }}" size="{{ size }}" />
{% endmacro %}

{% macro button(name, text, value = "") %}
    <button name="{{ name }}" value="{{ value|e }}" class="button">{{ text|e }}</button>
{% endmacro %}
