{% extends "forms/field.html.twig" %}

{% set name = (name is null ? field.name : name) %}
{% set value = (value is null ? field.default : value) %}
{% set value = (value is same as(false) ? 0 : value) %}

{% block input %}
    {% for key, text in field.options %}
        {% set id = "toggle_" ~ name ~ key %}
        <input type="radio"
               value="{{ key }}"
               id="{{ id }}"
               name="{{ (scope ~ name)|fieldName }}"
                {% if field.highlight is defined %}
                    class="{{ field.highlight == '' ~ key ? 'highlight' : '' }}"
                {% endif %}
                {% if '' ~ key == '' ~ value %}checked="checked" {% endif %}
                {% if field.validate.required in ['on', 'true', 1] %}required="required"{% endif %}
                />
        <label for="{{ id }}">{{ text }}</label>
        <a></a>
    {% endfor %}
{% endblock %}
