{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
    <div id="install">
        <span class="float-right">
            <button class="button button-back-to-conf" tabindex="0"
                    aria-label="{{ 'GANTRY5_PLATFORM_BACK_SETUP'|trans }}"><i class="fa fa-fw fa-fw fa-arrow-left" aria-hidden="true"></i>
                <span>{{ 'GANTRY5_PLATFORM_BACK_SETUP'|trans }}</span></button>
        </span>
        <h2 class="page-title">
            {{ 'GANTRY5_PLATFORM_SAMPLE_DATA_INSTALLED'|trans }}
        </h2>
    </div>

    <div>
        <p>{{ 'GANTRY5_INSTALLER_ACTIONS'|trans }}</p>
        <ul>
            {% for item in actions %}
                <li>{{ item.text }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
