{% extends '@nucleus/partials/particle.html.twig' %}

{% macro displayTitle(item) %}
    {% if item.menu_image %}
        <img src="{{ item.menu_image }}" alt="{{ item.title }}" />
        {% if item.menu_text %}
        <span class="image-title">{{ item.title }}</span>
        {% endif %}
    {% else %}
        {{ item.title }}
    {% endif %}
{% endmacro %}

{% macro displayItem(item) %}
    {% set title = item.anchor_title ? ' title="' ~ item.anchor_title ~ '"' %}
    {% set class = item.anchor_css ? ' class="' ~ item.anchor_css ~ '"' %}
    <li id="menu-item-{{ item.id }}" class="menu-item menu-item-type-{{ item.type }} menu-item-{{ item.id }}">
        {% if item.link %}
            <a href="{{ item.link }}"{{ class ~ title ~ item.anchor_attributes }}>{{ _self.displayTitle(item) }}</a>
        {% else %}
            {% if item.type == 'heading' %}
            <span class="nav-header"{{ title }}>{{ item.title }}</span>
            {% else %}
            <span class="separator"{{ title }}>{{ _self.displayTitle(item) }}</span>
            {% endif %}
        {% endif %}
        {% if (item.children) -%}
            {{ _self.displaySubmenu(item.children) }}
        {%- endif %}
        </li>
{% endmacro %}

{% macro displaySubmenu(children) %}
    <div class="dropdown">
        <ul class="sublevel">
            {% for item in children %}
            {{ _self.displayItem(item) }}
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% block particle %}
<nav
{%- if particle.css.id %} id="{{ particle.css.id }}"{% endif %}
{%- if particle.css.class %} class="{{ particle.css.class }}"{% endif %} role="navigation">
    <ul class="toplevel">
        {% for item in menu.load(particle.items) %}
            {{ _self.displayItem(item) }}
        {% endfor %}
    </ul>
</nav>
{% endblock %}
