{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
    <h2 class="page-title">
        Configurations
        <a data-g5-lm-add href="{{ gantry.route('picker/layouts')|e }}" class="button button-primary"><i class="fa fa-plus"></i></a>
    </h2>

    <div id="page-picker" class="cards-wrapper">
        <ul class="g-grid">
            {% for layout in layouts.user %}
                <li class="card g-block size-1-4">
                    <div class="page">
                        <h4>
                            {{ layout|replace('_', ' ')|trim|capitalize|title|e  }}
                        </h4>
                        <div class="inner-params">
                            <img src="http://www.placehold.it/200x250/f4f4f4" />
                        </div>
                        <div class="inner-params">
                    <span class="float-left">
                        <a href="{{ gantry.route('configurations', layout)|e }}" class="button">
                            <i class="fa fa-pencil-square-o"></i>
                            <span>Edit</span>
                        </a>
                    </span>
                            <span class="float-right">23 positions</span>
                        </div>
                    </div>
                </li>
            {% endfor %}
            <li class="card g-block size-1-4 add-new">
                <div class="page">
                    <a data-g5-lm-add href="{{ gantry.route('picker/layouts')|e }}"><i class="fa fa-plus"></i></a>
                </div>
            </li>
        </ul>

        <h2>System Configurations</h2>
        <ul class="g-grid">
            {% for layout in layouts.core %}
                <li class="card g-block size-1-4">
                    <div class="page">
                        <h4>
                            {{ layout|trim('_')|replace({'_': ' '})|title|capitalize }}
                        </h4>
                        <div class="inner-params">
                            <img src="http://www.placehold.it/200x250/f4f4f4" />
                        </div>
                        <div class="inner-params">
                    <span class="float-left">
                        <a href="{{ gantry.route('configurations', layout)|e }}" class="button">
                            <i class="fa fa-pencil-square-o"></i>
                            <span>Edit</span>
                        </a>
                    </span>
                            <span class="float-right">23 positions</span>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
