{% extends "@gantry-admin/partials/page.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url('gantry-admin://assets/css-compiled/g-admin.css') }}" type="text/css" />
    {% if not gantry.platform.has('fontawesome') %}
    <link rel="stylesheet" href="{{ url('gantry-admin://assets/css/font-awesome.min.css') }}" type="text/css" />
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" async="async" src="{{ url('gantry-admin://assets/js/main.js') }}"></script>
    {% include "@gantry-admin/partials/js-translations.html.twig" %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div id="main-header" data-mode-indicator="production">
        {% include "@gantry-admin/partials/php_unsupported.html.twig" %}
        {% include "@gantry-admin/partials/header.html.twig" %}
    </div>
    <div class="inner-container">
        {% include "@gantry-admin/partials/updates.html.twig" %}
        {% block gantry_content_wrapper %}
            <div data-g5-content-wrapper="">
                {% include "@gantry-admin/partials/navigation.html.twig" %}
                <div class="g-grid">
                    <div class="g-block main-block">
                        <section id="g-main">
                            <div class="g-content" data-g5-content="">
                                {% block gantry %}
                                {% endblock %}
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block footer_section %}
    <footer id="footer">
        <div>
            {{ 'GANTRY5_PLATFORM_FOOTER'|trans|raw }}
        </div>
        {% set version = constant('GANTRY5_VERSION') %}
        {% set version_date = constant('GANTRY5_VERSION_DATE') %}
        <div>
            {{ 'GANTRY5_PLATFORM_FOOTER_VERSION'|trans }} <span class="g-version">{{ version }}</span>
            /
            {{ 'GANTRY5_PLATFORM_FOOTER_RELEASED'|trans }} <span class="g-version-date">{{ version_date}}</span>
        </div>
        <div><a href="#" data-changelog="{{ constant('GANTRY5_VERSION') }}">{{ 'GANTRY5_PLATFORM_CHANGELOG'|trans }}</a></div>
    </footer>
{% endblock %}
