{% extends "@gantry-admin/partials/page.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url('gantry-admin://assets/css-compiled/nucleus.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url('gantry-admin://assets/css-compiled/admin.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url('gantry-admin://assets/fonts/awesome/font-awesome.min.css') }}" type="text/css" />
    {{ parent() }}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" async="async" crossorigin="anonymous" src="{{ url('gantry-admin://assets/js/main.js') }}"></script>
    {{ parent() }}
{% endblock %}

{% block content %}
<div id="g5-container" class="container">
    <div class="grid pure-g">
        <div class="block pure-u-1">
            <div id="main-header" data-mode-indicator="production">
                {% include "@gantry-admin/partials/header.html.twig" %}
            </div>
        </div>
    </div>
    <div class="inner-container">
        <div class="grid pure-g">
            <div class="block pure-u-1">
                <div class="update-header clearfix">
                    <!--FIX ME--><span class="update-text">Updates Available: Theme Name v1.0, Gantry Framework v.5.0.1</span>
                    <a href="#" class="button button-update"><i class="fa fa-refresh"></i> Update</a>
                </div>
            </div>
        </div>
        <div class="grid pure-g">
            <div class="block pure-u-5-6 inner-header">
                    <span data-sidebar-toggle><i class="fa fa-bars"></i></span>
            </div>
            <div class="block size-1-6 pure-u-1-6 settings-state">
                <!--FIX ME--><span class="master-toggle">Master <i class="fa fa-chevron-down"></i></span>
            </div>
        </div>
        <div class="grid pure-g">
            <div class="block sidebar-block size-1-7 pure-u-1-7">
                <nav id="gantry">
                    {% include "@gantry-admin/partials/navigation.html.twig" %}
                </nav>
            </div>
            <div class="block main-block pure-u-6-7">
                <section id="main">
                    <div class="content" data-g5-content>
                        {% block gantry %}
                        {% endblock %}
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_section %}
    <footer id="footer">
        <a href="http://gantry-framework.org">Gantry Administration</a> by <a href="http://www.rockettheme.com">RocketTheme</a>.
    </footer>
{% endblock %}
