<div class="g-grid">
    <div class="g-block">
        <div class="g-content clearfix">
            <span class="theme-title"><i class="fa fa-tint"></i> Theme: {{ gantry.theme.title|e }} <small>({{ gantry.theme.name|e }})</small></span>

            {% set settings_url = gantry.platform.settings %}
            {% set settings_key = gantry.platform.settings_key %}
            {#<div data-mode-toggle class="dev-mode-toggle">
                <input type="radio" value="dev" id="dev-mode-toggle" name="mode" checked>
                <label for="dev-mode-toggle">Dev</label>
                <input type="radio" value="prod" id="prod-mode-toggle" name="mode">
                <label for="prod-mode-toggle">Prod</label>
                <a></a>
            </div>#}
            <ul class="float-right">
                <li {{ (location == 'configurations') ? 'class="active"' }}>
                    <a data-g5-ajaxify data-g5-ajaxify-target="[data-g5-content]" href="{{ gantry.route('configurations')|e }}"><i class="fa fa-fw fa-gears"></i> Configurations</a>
                </li>
                <li {{ (location == 'menu') ? 'class="active"' }}>
                    <a data-g5-ajaxify data-g5-ajaxify-target="[data-g5-content]" href="{{ gantry.route('menu')|e }}"><i class="fa fa-fw fa-list"></i> <span>Menu</span></a>
                </li>
                <li {{ (location == 'about') ? 'class="active"' }}>
                    <a data-g5-ajaxify data-g5-ajaxify-target="[data-g5-content]" href="{{ gantry.route('about')|e }}"><i class="fa fa-fw fa-question-circle"></i> <span>About</span></a>
                </li>
                <li data-g-extras>
                    <a href="#"><i class="fa fa-fw fa-cog"></i> Extras <i class="small fa fa-fw fa-chevron-down"></i></a>
                    <ul data-popover-content class="hidden">
                        <li data-g-popover-follow>
                            <a href="{{ gantry.route('cache')|e }}" data-ajax-action data-ajax-action-method="get" data-ajax-action-indicator="li[data-g-extras]"><i class="fa fa-fw fa-recycle"></i> Clear Cache</a>
                        </li>
                        {% if settings_url %}
                            <li>
                                <a href="{{ settings_url|e }}" data-settings-key="{{ settings_key|e }}"><i class="fa fa-fw fa-{{ gantry.platform.name }}"></i> Platform Settings</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
