<div class="g-grid">
    <div class="g-block">
        <div class="g-content clearfix">
            <span class="theme-title"><i class="fa fa-tint"></i> Theme: {{ gantry.theme.title }}</span>

            <ul class="float-right">
                <li {{ (location == 'configurations') ? 'class="active"' }}>
                    <a data-g5-ajaxify data-g5-ajaxify-target="[data-g5-content]" href="{{ gantry.route('configurations')|e }}"><i class="fa fa-gears"></i> Configurations</a>
                </li>
                <li {{ (location == 'menu') ? 'class="active"' }}>
                    <a data-g5-ajaxify data-g5-ajaxify-target="[data-g5-content]" href="{{ gantry.route('menu')|e }}"><i class="fa fa-list"></i> <span>Menu</span></a>
                </li>
                <li {{ (location == 'overview') ? 'class="active"' }}>
                    <a data-g5-ajaxify data-g5-ajaxify-target="[data-g5-content]" href="{{ gantry.route('overview')|e }}"><i class="fa fa-question-circle"></i> <span>About</span></a>
                </li>
                <li class="config-select-wrap">
                    {% include 'partials/configuration-selector.html.twig' %}
                </li>
            </ul>
        </div>
    </div>
</div>
