{% extends "@gantry-admin/partials/page.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url('gantry-admin://assets/css-compiled/g-admin.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url('gantry-admin://assets/css/font-awesome.min.css') }}" type="text/css" />
    {{ parent() }}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" defer="defer" src="{{ url('gantry-admin://assets/js/main.js') }}"></script>
    {% include "@gantry-admin/partials/js-translations.html.twig" %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div id="g5-container">
    <div class="inner-container">
        {% block gantry_content_wrapper %}
            <div data-g5-content-wrapper="">
                <div class="g-grid">
                    <div class="g-block main-block">
                        <section id="g-main">
                            <div class="g-content" data-g5-content="">
                                {% block gantry %}
                                    {{ content|raw }}
                                {% endblock %}
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block footer_section %}
{% endblock %}
