<section id="sidebar">
    <ul>
        <li {{ (location == 'overview') ? 'class="active"' }}>
            <a data-g5-ajaxify="{{ '{"view":"page", "method":"overview"}' | e }}" data-g5-ajaxify-target="[data-g5-content]" href="{{ gantry.route('overview')|e }}"><i class="fa fa-adjust"></i>Overview</a>
        </li>
        <li {{ (location == 'settings') ? 'class="active"' }}>
            <a data-g5-ajaxify="{{ '{"view":"page", "method":"settings"}' | e }}" data-g5-ajaxify-target="[data-g5-content]" href="{{ gantry.route('settings')|e }}"><i class="fa fa-wrench"></i>Settings</a>
        </li>
        <li {{ (location == 'pages') ? 'class="active"' }}>
            <a data-g5-ajaxify="{{ '{"view":"page", "method":"pages_index"}' | e }}" data-g5-ajaxify-target="[data-g5-content]" href="{{ gantry.route('pages')|e }}"><i class="fa fa-columns"></i>Page Setup</a>
        </li>
        <li {{ (location == 'assignments') ? 'class="active"' }}>
            <a data-g5-ajaxify="{{ '{"view":"page", "method":"assignments"}' | e }}" ajaxify data-g5-ajaxify-target="[data-g5-content]" href="{{ gantry.route('assignments')|e }}"><i class="fa fa-check-square-o"></i>Assignments</a>
        </li>
        <li {{ (location == 'updates') ? 'class="active"' }}>
            <a data-g5-ajaxify="{{ '{"view":"page", "method":"updates"}' | e }}" data-g5-ajaxify-target="[data-g5-content]" href="{{ gantry.route('updates')|e }}"><i class="fa fa-cloud-download"></i>Updates</a>
        </li>
    </ul>
</section>
