<div class="g-grid">
    <div class="g-block navbar-block">
        <nav id="gantry">
            <section id="navbar">
                <ul>
                    {% include 'partials/configuration-selector.html.twig' %}
                    <li {{ (location == 'configurations/styles') ? 'class="active"' }}>
                        <a data-g5-ajaxify data-g5-ajaxify-target="[data-g5-content-wrapper]" data-g5-ajaxify-params="{{ {"navbar": true}|json_encode|e('html_attr') }}" href="{{ gantry.route('configurations', configuration, 'styles')|e }}"><i class="fa fa-fw fa-adjust"></i><span>Styles</span></a>
                    </li>
                    <li {{ (location == 'configurations/settings') ? 'class="active"' }}>
                        <a data-g5-ajaxify data-g5-ajaxify-target="[data-g5-content-wrapper]" data-g5-ajaxify-params="{{ {"navbar": true}|json_encode|e('html_attr') }}" href="{{ gantry.route('configurations', configuration, 'settings')|e }}"><i class="fa fa-fw fa-wrench"></i><span>Settings</span></a>
                    </li>
                    <li {{ (location == 'configurations/layout') ? 'class="active"' }}>
                        <a data-g5-ajaxify data-g5-ajaxify-target="[data-g5-content-wrapper]" data-g5-ajaxify-params="{{ {"navbar": true}|json_encode|e('html_attr') }}" href="{{ gantry.route('configurations', configuration, 'layout')|e }}"><i class="fa fa-fw fa-columns"></i><span>Layout</span></a>
                    </li>
                    {% if configuration and configuration != 'default' %}
                    <li {{ (location == 'configurations/assignments') ? 'class="active"' }}>
                        <a data-g5-ajaxify data-g5-ajaxify-target="[data-g5-content-wrapper]" data-g5-ajaxify-params="{{ {"navbar": true}|json_encode|e('html_attr') }}" href="{{ gantry.route('configurations', configuration, 'assignments')|e }}"><i class="fa fa-fw fa-check-square-o"></i><span>Assignments</span></a>
                    </li>
                    {% endif %}
                </ul>
            </section>
        </nav>
        <span class="gantry-logo"></span>
    </div>
</div>
