{% set presets = gantry.theme.presets %}

<ul class="g-grid">
    {% for key, preset in presets %}
        {% set counter = 0 %}
        <li class="g-block">
            <a href="#" class="swatch" data-g-styles="{{ presets.flatten(key ~ '.styles', '][', 'styles')|json_encode|escape('html_attr') }}">
                <img src="{{ url(preset.image)|default(url('gantry-admin://images/placeholder.png'))|e }}" class="swatch-image" />
                {% if preset.colors|length %}
                {% set stop = (100 / preset.colors|length)|number_format(3, '.') %}
                <span class="swatch-colors"
                    {# required attribute structures #}
                    style="background: linear-gradient(to right
                        {% for color in preset.colors -%}
                            ,{{- color }} {{ counter -}}%, {{- color }} {{ counter + stop -}}%
                            {% set counter = counter + stop %}
                        {%- endfor %})">
                </span>
                {% endif %}
                <span class="swatch-preview"><i class="fa fa-fw fa-eye"></i></span>
                <span class="swatch-matched"><i class="fa fa-fw fa-star"></i></span>
            </a>
            <span class="swatch-description"><span class="swatch-title-matched"><i class="fa fa-fw fa-star"></i></span> {{ preset.description }}</span>
        </li>
    {% endfor %}
 </ul>
