{% set presets = gantry.theme.presets %}

<ul class="g-grid">
    {% for key, swatch in presets.swatches %}
        {% set counter = 0 %}
        <li class="g-block">
            <a href="#" class="swatch" data-styles="{{ presets.flatten('swatches.' ~ key ~ '.styles', '][', 'styles')|json_encode|escape('html_attr') }}">
                <img src="{{ url(presets.base ~ '/' ~ swatch.image)|default('http://placehold.it/400x400/D4D4D4.jpg')|e }}" class="swatch-image" />
                {% if swatch.colors|length %}
                {% set stop = (100 / swatch.colors|length)|number_format(3, '.') %}
                <span class="swatch-colors"
                        {# required attribute structures #}
                        style="background: linear-gradient(to right
                            {% for color in swatch.colors -%}
                                ,{{- color }} {{ counter -}}%, {{- color }} {{ counter + stop -}}%
                                {% set counter = counter + stop %}
                            {%- endfor %})">
                </span>
                {% endif %}
            </a>
        </li>
    {% endfor %}
 </ul>
