<ul class="g-grid">
    {% set base = config.styles.base %}
    {% set stopValue = config.styles.stop %}
    {% set stop = (100 / config.styles.stop)|number_format(3, '.') %}
    {% for key, swatch in swatches %}
        {% set counter = 0 %}
        <li class="g-block">
            <a href="#" style="margin: 0 5px; border-radius: 5px; display:block;" data-styles="{{ key }}">
                <span>
                    <img src="{{ base ~ swatch.image }}" />
                    <span
                            {# required attribute structures #}
                            style="height: 25px; display: block; background: linear-gradient(to right
                                {%- for color in swatch.colors|slice(0, stop) -%}
                                    ,{{- color }} {{ counter -}}%, {{- color }} {{ counter + stop -}}%
                                    {% set counter = counter + stop %}
                                {%- endfor -%})"
                            >
                    </spam>
                </span>
            </a>
        </li>
    {% endfor %}
 </ul>