<ul style="list-style: none">
    {% set colorStopValue = config.styles.config.colorStop %}
    {% set colorStop = (100 / config.styles.config.colorStop)|number_format(3, '.') %}
    {% for key, swatch in swatches %}
        {% set counter = 0 %}
        <li style="display: inline-block">
            <a
                    {# required attribute structures #}
                    href="#"
                    data-styles="{{ key }}"
                    style="border-radius: 50px; margin: 0 5px; display: block; height: 50px; width: 50px; background: linear-gradient(to right
                        {%- for color in swatch|slice(0, colorStopValue) -%}
                            ,{{-color }} {{ counter -}}%, {{- color }} {{ counter + colorStop -}}%
                            {% set counter = counter + colorStop %}
                        {%- endfor -%}
                    )"
                    >
            </a>
        </li>
    {% endfor %}
 </ul>