<ul class="g-grid">
    {% set base = gantry.theme.presets.base %}
    {% set stopValue = gantry.theme.presets.stop %}
    {% set stop = (100 / gantry.theme.presets.stop|default(1))|number_format(3, '.') %}
    {% for key, swatch in gantry.theme.presets.swatches %}
        {% set counter = 0 %}
        <li class="g-block">
            <a href="#" class="swatch" data-styles="{{ gantry.theme.presets.flatten(key, '][', 'styles')|json_encode|escape('html_attr') }}">
                <img src="{{ base ~ swatch.image }}" class="swatch-image" />
                <span class="swatch-colors"
                        {# required attribute structures #}
                        style="background: linear-gradient(to right
                            {% for color in swatch.colors|slice(0, stop) -%}
                                ,{{- color }} {{ counter -}}%, {{- color }} {{ counter + stop -}}%
                                {% set counter = counter + stop %}
                            {%- endfor %})">
                </span>
            </a>
        </li>
    {% endfor %}
 </ul>
