{% extends "@gantry-admin/partials/page.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url('gantry-admin://assets/css-compiled/admin.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url('gantry-admin://assets/css/font-awesome6-all.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url('gantry-admin://assets/css/font-awesome6-shim.min.css') }}" type="text/css" />
    {{ parent() }}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" async="async" src="{{ url('gantry-admin://assets/js/main.js') }}"></script>
    {% include "@gantry-admin/partials/js-translations.html.twig" %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% block gantry_content_wrapper %}
        <div data-g5-content-wrapper="">
            <div class="g-grid">
                <div class="g-block">
                    <div class="g-content" data-g5-content="">
                        {% block gantry %}
                            {{ content|raw }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block footer_section %}
{% endblock %}
