{% set menu = gantry.menu.instance(particle) %}

{% macro displayTitle(item) %}
    {% if item.menu_image %}
        <img src="{{ item.menu_image }}" alt="{{ item.title }}" />
        {% if item.menu_text %}
            <span class="g-image-title">{{ item.title }}</span>
        {% endif %}
    {% elseif item.menu_icon %}
        <i class="fa fa-fw fa-{{ item.menu_icon|e }}"></i>
        {% if item.menu_text %}
            {{ item.title }}
        {% endif %}
    {% else %}
        {{ item.title }}
    {% endif %}
{% endmacro %}

{% macro displayItem(item, menu) %}
    {% if item.visible %}
        {% set title = item.anchor_title ? ' title="' ~ item.anchor_title ~ '"' %}
        {% set class = item.anchor_css ? ' class="' ~ item.anchor_css ~ '"' %}
        {% set active = menu.isActive(item) ? ' active' : '' %}
        <li id="g-menu-item-{{ item.id }}" class="g-menu-item g-menu-item-type-{{ item.type }} g-menu-item-{{ item.id }}{{ active }}">
            {% if item.link %}
                <a href="{{ item.link }}"{{ class ~ title ~ item.anchor_attributes }}>{{ _self.displayTitle(item) }}</a>
            {% else %}
                {% if item.type == 'heading' %}
                    <span class="g-nav-header"{{ title }}>{{ item.title }}</span>
                {% else %}
                    <span class="g-separator"{{ title }}>{{ _self.displayTitle(item) }}</span>
                {% endif %}
            {% endif %}
            {% if (item.children) -%}
                {{ _self.displaySubmenu(item, menu) }}
            {%- endif %}
        </li>
    {% endif %}
{% endmacro %}

{% macro displayContainers(containers, menu) %}
    <div class="g-grid">
        {% for items in containers %}
            <div class="g-block">
                {{ _self.displayItems(items, menu) }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro displayItems(items, menu) %}
    {% for item in items %}
        {{ _self.displayItem(item, menu) }}
    {% endfor %}
{% endmacro %}

{% macro displaySubmenu(item, menu) %}
    <ul class="g-dropdown">
        <li class="g-dropdown-column">
            <ul class="g-sublevel">
                {% if item.groups %}
                    {{ _self.displayContainers(item.groups, menu) }}
                {% else %}
                    {{ _self.displayItems(item.children, menu) }}
                {% endif %}
            </ul>
        </li>
    </ul>
{% endmacro %}

<nav
        {%- if particle.css.id %} id="{{ particle.css.id }}"{% endif %}
        {%- if particle.css.class %} class="{{ particle.css.class }}"{% endif %} role="navigation">
    <ul class="g-toplevel">
        {{ _self.displayItems(menu.root, menu) }}
    </ul>
</nav>
