{% extends 'partials/widget.html.twig' %}

{% block widget %}
<a href="{{ base_url_relative }}" title="{{ widget.text|e }}" rel="home">
    <img src="{{ theme_url }}/{{ widget.image }}" alt="{{ widget.text|e }}" />
</a>
{% endblock %}
