{% set twigTemplate = 'password-form.html.twig' %}

{% block password_form %}

    <form class="password-form" action="{{ site.url }}/wp-login.php?action=postpass" method="post">
        <label for="pwbox-{{post.ID}}">{{ __('Password', 'g5_helium') }}</label>
        <input class="password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="{{ __('Password', 'g5_helium') }}" size="20" maxlength="30" />
        <input class="password-btn button button-small" type="submit" name="Submit" value="{{ __('Submit', 'g5_helium') }}" />
    </form>

{% endblock %}
