<div data-mm-particle-stepone="{{ gantry.route(route|default('menu/particle')) }}" class="menu-editor-extras">
    <div class="card settings-block">
        <h4>
            {{ 'GANTRY5_PLATFORM_PICK_PARTICLE'|trans }}
        </h4>
        <div class="inner-params">
            <div class="g5-lm-particles-picker menu-editor-particles">
                <div class="search settings-block">
                    <input type="text" placeholder="{{ 'GANTRY5_PLATFORM_SEARCH_ELI'|trans }}" />
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <ul>
                    {% for key, list in particles %}
                        {{ key|capitalize }}
                        <ul>
                            {% for type, particle in list %}
                                {% for item_key, item in particle %}
                                    <li class="g5-lm-particle-{{ type }}"
                                        data-lm-nodrag
                                        data-mm-type="particle"
                                        data-lm-blocktype="{{ type }}"
                                        data-mm-filter="{{ item.name }}"
                                        data-lm-subtype="{{ item_key }}">
                                        <span class="icon"><i class="fa fa-fw {{ item.icon|default('fa-cube') }}" aria-hidden="true"></i></span>
                                        <span class="title">{{ item.name }}</span>
                                    </li>
                                {%  endfor %}
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="g-modal-actions">
        {#<a class="button float-left">{{ 'GANTRY5_PLATFORM_DEFAULTS'|trans }}</a>#}
        <button class="button button-primary" type="submit" data-mm-select="" disabled="disabled">
            {{ 'GANTRY5_PLATFORM_SELECT'|trans }} <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
        </button>
        <button class="button g5-dialog-close">
            {{ 'GANTRY5_PLATFORM_CANCEL'|trans }}
        </button>
    </div>
</div>
