<div class="well">
    <h1>
        <div>{{ name }} Template Installed</div>
        <div><small>v{{ version }} / {{ date }}</small></div>
    </h1>

    <p>By Installing Sample Data a new Home menu item will be created. The Home menu item and this template will be set as default. Other sample pages will be created as well. Click the button below to proceed.</p>

    <div>
        <a href="{{ install_url }}" class="btn">Install Sample Data</a>
        <a href="{{ edit_url }}" class="btn">Configure {{ name }}</a>
    </div>
</div>
