<div class="well">
    <h1>
        <div>{{ name }} Template Updated</div>
        <div><small>v{{ version }} / {{ date }}</small></div>
    </h1>

    <div>
        <a href="{{ edit_url }}" class="btn">Configure {{ name }}</a>
    </div>
</div>
