{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
    <h2>
        <span class="title">{{ 'GANTRY5_PLATFORM_NEW_LAYOUT'|trans }}</span>
        <i class="fa fa-pencil font-small" aria-hidden="true" data-title-edit=""></i>
        <span class="float-right">
            <a href="#" class="button button-primary button-save"><i class="fa fa-check" aria-hidden="true"></i> <span>{{ 'GANTRY5_PLATFORM_SAVE'|trans }}</span></a>
            <a href="#" class="button"><i class="fa fa-sign-in" aria-hidden="true"></i> <span>{{ 'GANTRY5_PLATFORM_IMPORT'|trans }}</span></a>
            <a href="#" class="button"><i class="fa fa-sign-out" aria-hidden="true"></i> <span>{{ 'GANTRY5_PLATFORM_EXPORT'|trans }}</span></a>
            <a href="#" class="button red"><i class="fa fa-times-circle" aria-hidden="true"></i> <span>{{ 'GANTRY5_PLATFORM_CANCEL'|trans }}</span></a>
        </span>
    </h2>

    <div class="lm-newblocks" data-lm-blocktypes="">
        <a class="button" href="{{ gantry.route('picker/particles') }}" data-lm-addparticle=""><i class="fa fa-plus" aria-hidden="true"></i> <span>{{ 'GANTRY5_PLATFORM_NEW_PARTICLE'|trans }}</span></a>
        <span class="float-right">
            <a href="#" class="button"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            <a href="#" class="button"><i class="fa fa-history" aria-hidden="true"></i> <span>{{ 'GANTRY5_PLATFORM_HISTORY'|trans }}</span></a>
            <a href="#" class="button"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </span>
    </div>
    <div id="page">
        <div class="lm-blocks" data-lm-page="create/{{ page_id }}" data-lm-root="{{ layout|json_encode|e('html_attr') }}"></div>
    </div>

    <div id="trash" data-lm-eraseblock="" style="top: -104px;"><div class="trash-zone">&times;</div><span>{{ 'GANTRY5_PLATFORM_DROP_DELETE'|trans }}</span></div>
{% endblock %}
