{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
<form method="post" action="{{ gantry.route(action) }}">
    <div class="g-tabs" role="tablist">
        <ul>
            {# Settings Tab #}
            <li class="active">
                <a href="#" id="g-switcher-platforms-tab" role="presentation" aria-controls="g-switcher-platforms" role="tab" aria-expanded="true">
                    {% if inheritance %}<i class="fa fa-fw fa-{{ (item.inherit and ('attributes' in item.inherit.include)) ? 'lock' : 'unlock' }}"></i>{% endif %}
                    {{ 'GANTRY5_PLATFORM_PARTICLE'|trans }}
                </a>
            </li>
            {# Block Tab #}
            <li>
                <a href="#" id="g-settings-block-tab" role="presentation" aria-controls="g-settings-block" role="tab" aria-expanded="false">
                    {% if inheritance %}<i class="fa fa-fw fa-{{ (item.inherit and ('block' in item.inherit.include)) ? 'lock' : 'unlock' }}"></i>{% endif %}
                    {{ 'GANTRY5_PLATFORM_BLOCK'|trans }}
                </a>
            </li>
            {# Inheritance Tab #}
            {% if inheritance %}
            <li>
                <a href="#" id="g-settings-inheritance-tab" role="presentation" aria-controls="g-settings-inheritance" aria-expanded="false">
                    {{ 'GANTRY5_PLATFORM_INHERITANCE'|trans }}
                </a>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="g-panes">
        {# Settings Pane #}
        <div class="g-pane active" role="tabpanel" id="g-settings-particle" aria-labelledby="g-settings-particle-tab" aria-expanded="true">
            <div class="card settings-block">
                <h4>
                    <span data-title-editable="{{ item.title|trim }}" class="title">{{ item.title|trim }}</span>
                    <i class="fa fa-pencil font-small" tabindex="0" aria-label="{{ 'GANTRY5_PLATFORM_EDIT_TITLE'|trans(item.title|trim) }}" data-title-edit=""></i>
                    <span class="badge font-small">{{ particle.subtype }}</span>
                    {% if particle.form.fields.enabled %}
                    {% include 'forms/fields/enable/enable.html.twig' with {'name': 'particles.' ~ particle.subtype ~ '.enabled', 'field': particle.form.fields.enabled, 'value': item.attributes.enabled, 'default': 1, 'disabled': not gantry.config.get('particles.' ~ particle.subtype ~ '.enabled', true)} %}
                    {% endif %}
                </h4>

                <div class="inner-params">
                    {% include 'forms/fields.html.twig' with {'overrideable': true, 'blueprints': particle.form} %}
                </div>
            </div>
        </div>

        {# Block Pane #}
        <div class="g-pane" role="tabpanel" id="g-settings-block" aria-labelledby="g-settings-block-tab" aria-expanded="false">
            <div class="card settings-block">
                <h4>
                    {{ 'GANTRY5_PLATFORM_BLOCK'|trans }}
                </h4>
                <div class="inner-params">
                    {% include 'forms/fields.html.twig' with {'blueprints': extra.form, 'data': {'block': item.block}, 'prefix': 'block.'} %}
                </div>
            </div>
        </div>

        {# Inheritance Pane #}
        {% if inheritance %}
        <div class="g-pane" role="tabpanel" id="g-settings-inheritance" aria-labelledby="g-settings-inheritance-tab" aria-expanded="false">
            <div class="card settings-block">
                <h4>
                    {{ 'GANTRY5_PLATFORM_INHERITANCE'|trans }}
                </h4>
                <div class="inner-params">
                    <input type="hidden" name="{{ 'inherit.section'|fieldName }}" value="{{ item.id }}" />
                    {% include 'forms/fields.html.twig' with {'blueprints': inheritance.form, 'data': {'inherit': item.inherit}, 'prefix': 'inherit.'} %}
                </div>
        </div>
        {% endif %}
    </div>

    <div class="g-modal-actions">
        <button class="button button-primary" type="submit">{{ 'GANTRY5_PLATFORM_APPLY'|trans }}</button>
        <button class="button button-primary" data-apply-and-save>{{ 'GANTRY5_PLATFORM_APPLY_SAVE'|trans }}</button>
        <button class="button g5-dialog-close">{{ 'GANTRY5_PLATFORM_CANCEL'|trans }}</button>
    </div>
</form>
{% endblock %}
