{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
<form method="post" action="{{ gantry.route(action) }}" data-g-settings-id="{{ item.id }}">
    <div class="g-tabs" role="tablist">
        <ul>
            {# Settings Tab #}
            <li class="active">
                <a href="#" id="g-settings-particle-tab" role="presentation" aria-controls="g-settings-particle" role="tab" aria-expanded="true">
                    {% if inheritance %}<i class="fa fa-fw fa-{{ (item.inherit and ('attributes' in item.inherit.include)) ? 'lock' : 'unlock' }}"></i>{% endif %}
                    {{ particle.name|trim }}
                </a>
            </li>
            {# Block Tab (for nested sections only) #}
            {% if extra %}
            <li>
                <a href="#" id="g-settings-block-tab" role="presentation" aria-controls="g-settings-block" role="tab" aria-expanded="false">
                    {% if inheritance %}<i class="fa fa-fw fa-{{ (item.inherit and ('block' in item.inherit.include)) ? 'lock' : 'unlock' }}"></i>{% endif %}
                    {{ 'GANTRY5_PLATFORM_BLOCK'|trans }}
                </a>
            </li>
            {% endif %}
            {# Inheritance Tab #}
            {% if inheritance %}
            <li>
                <a href="#" id="g-settings-block-tab" role="presentation" aria-controls="g-settings-block" aria-expanded="false">
                    {{ 'GANTRY5_PLATFORM_INHERITANCE'|trans }}
                </a>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="g-panes">
        {# Settings Pane #}
        <div class="g-pane active" role="tabpanel" id="g-settings-particle" aria-labelledby="g-settings-particle-tab" aria-expanded="true">
            {% include '@gantry-admin/pages/configurations/layouts/section-card.html.twig' with {
                gantry: gantry,
                title: item.title,
                blueprints: particle.form,
                data: data,
                prefix: prefix,
                inherit: 'attributes' in item.inherit.include and item.inherit.outline in inheritance.form.fields.outline.filter ? item.inherit.outline : null
            } only %}
        </div>

        {# Block Pane (for nested sections only) #}
        {% if extra %}
        <div class="g-pane" role="tabpanel" id="g-settings-block" aria-labelledby="g-settings-block-tab" aria-expanded="false">
            {% include '@gantry-admin/pages/configurations/layouts/section-card.html.twig' with {
                gantry: gantry,
                title: 'GANTRY5_PLATFORM_BLOCK'|trans,
                blueprints: extra.form,
                data: {block: item.block},
                prefix: 'block.',
                inherit: 'block' in item.inherit.include and item.inherit.outline in inheritance.form.fields.outline.filter ? item.inherit.outline : null
            } only %}
        </div>
        {% endif %}

        {# Inheritance Pane #}
        {% if inheritance %}
        <div class="g-pane" role="tabpanel" id="g-settings-inheritance" aria-labelledby="g-settings-inheritance-tab" aria-expanded="false">
            <div class="card settings-block">
                <h4>
                    {{ 'GANTRY5_PLATFORM_INHERITANCE'|trans }}
                </h4>
                <div class="inner-params">
                    {% include 'forms/fields.html.twig' with {'blueprints': inheritance.form, 'data': {'inherit': item.inherit}, 'prefix': 'inherit.'} %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="g-modal-actions">
        <button class="button button-primary" type="submit">{{ 'GANTRY5_PLATFORM_APPLY'|trans }}</button>
        <button class="button button-primary" data-apply-and-save>{{ 'GANTRY5_PLATFORM_APPLY_SAVE'|trans }}</button>
        <button class="button g5-dialog-close">{{ 'GANTRY5_PLATFORM_CANCEL'|trans }}</button>
    </div>
</form>
{% endblock %}
