{% extends ajax ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}


{% block content %}
    <div id="g5-container" class="container">
        <div class="inner-container">
            <div class="grid">
                <div class="block inner-header">
                    <span class="gantry-logo"></span>
                </div>
            </div>
            <div class="grid">
                <div class="block main-block">
                    <section id="main">
                        <div data-g5-content>
                            {% block gantry %}
                                <div class="content" data-g5-content>
                                    <h1><i class="fa fa-fw fa-plug"></i> Available Themes</h1>
                                    <div class="themes cards-wrapper grid fixed-blocks">
                                        {% for id, theme in styles %}
                                            <div class="theme card">
                                                <div class="theme-id">{{ theme.name|title|e }}</div>
                                                <div class="theme-screenshot">
                                                    <a href="{{ theme.name }}"><img src="{{ url('gantry-themes://' ~ theme.name ~ '/' ~ theme.thumbnail)|default('http://www.placehold.it/206x150/f4f4f4') }}" /></a>
                                                </div>
                                                <div class="theme-name">
                                                    <a class="button button-primary" href="{{ theme.name }}">Preview</a>
                                                    <a class="button" href="{{ theme.name }}/admin">Configure</a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_section %}
{% endblock %}
