<section class="blog-item">
    {% set banner = page.assets.images|first %}
    {% if banner %}
    <div class="blog-header">
        {{ banner.cropZoom(900,300).html }}
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    </div>
    {% else %}
    <div class="blog-title">
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    </div>
    {% endif %}

    <div class="blog-details">
        <span class="blog-date">Posted: {{ page.date|date() }}</span>

        {% if page.taxonomy.tag %}
        <span class="tags">
            {% for tag in page.taxonomy.tag %}
            <a href="{{ base_url_relative }}{{ list_url }}/tag:{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </span>
        {% endif %}
    </div>

    <div class="blog-padding">
    {% if truncate %}
    <p>{{ page.content|truncate(550) }}</p>
    <p><a class="button" href="{{ page.url }}">Read More</a></p>
    {% else %}
    <p>{{ page.content }}</p>
    {% endif %}
    </div>

    {% if not truncate %}
    <div class="blog-images">
    {% for asset in page.assets.all %}
        {{ asset.lightbox.cropResize(1000,100).html }}
    {% endfor %}
    </div>
    {% endif %}

</section>
