{% assets with { priority: 10 } %}
    {% block stylesheets %}
        {{ gantry.document.webassetmanager('com_gantry5.g-admin', 'style') }}
        {{ gantry.document.webassetmanager('com_gantry5.joomla-g-admin', 'style') }}
    {% endblock %}

    {% block javascript %}
        {{ gantry.document.webassetmanager('com_gantry5.main', 'script') }}
        <script>
            var GANTRY_AJAX_SUFFIX = '{{ gantry.ajax_suffix|raw }}';
            var GANTRY_AJAX_URL = '{{ gantry.route('%ajax%')|e }}';
            var GANTRY_AJAX_CONF_URL = '{{ gantry.route('configurations/%ajax%')|e }}';
            var GANTRY_AJAX_NONCE = null;
            var GANTRY_PLATFORM = 'joomla';
        </script>
    {% endblock %}
{% endassets -%}

{% block content %}
    <div id="g5-container">
        {{ content|raw }}
    </div>
{% endblock %}

{% do gantry.platform.finalize() %}
