<head>
    {% block head_title %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Title</title>
    {% endblock %}

    {% block head_stylesheets %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url('gantry-assets://css/font-awesome.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url('gantry-engine://css-compiled/nucleus.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url(gantry.theme.css(gantry.theme.name)) }}" type="text/css" />

    <script type="text/javascript" src="{{ url('gantry-assets://js/jquery-2.1.1.js') }}"></script>
    <script type="text/javascript" src="{{ url('gantry-assets://js/menu.js') }}"></script>

    <!--[if (gte IE 8)&(lte IE 9)]>
        <script type="text/javascript" src="{{ url('gantry-theme://js/html5shiv-printshiv.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url('gantry-engine://css/nucleus-ie9.css') }}" type="text/css" />
    <![endif]-->
    {% endblock %}

    {% block head_application %}
    {% endblock %}

    {% block head %}{% endblock %}
</head>
