{% extends '@nucleus/partials/particle.html.twig' %}

{% set attr_extra = '' %}
{% if particle.extra %}
    {% for attributes in particle.extra %}
        {% for key, value in attributes %}
            {% set attr_extra = attr_extra ~ ' ' ~ key|e ~ '="' ~ value|e('html_attr') ~ '"' %}
        {% endfor %}
    {% endfor %}
{% endif %}

{% block particle %}
    {# Categoty Finder #}
    {% set category_options = particle.article_source ? {id: [particle.article_source|split, 3]} : {} %}
    {% set category_finder = joomla.finder('category', category_options) %}
    {% set categories = category_finder.published(true).language(true).find() %}

    {# Content Finder #}
    {% if particle.article_featured|default('show') == 'show' %}
        {% set article_options = {published: true} %}
    {% else %}
        {% set article_options = {published: true, featured: particle.article_featured} %}
    {% endif %}
    {% set article_finder = joomla.finder('content', article_options) %}
    {% set articles = article_finder.category(categories).language(true).order(particle.article_order, particle.article_order_filter).limit(particle.article_limit).find() %}
{{ particle|json_encode }}
    {# Article Item #}
    {% set article_item %}
        {% for article in articles %}
            <div class="g-block">
                <div class="g-content">
                    {% if particle.article_image|default(true) and article.images.image_intro %}
                        <div class="g-article-image">
                            <a href="{{ article.route }}">
                                <img src="{{ url(article.images.image_intro) }}" {{ article.images.image_intro|imagesize|raw }}>
                            </a>
                        </div>
                    {% endif %}
                    {% if particle.article_title|default(true) %}
                        <div class="g-article-title">
                            <h3><a href="{{ article.route }}">
                                {% if particle.article_title_limit %}
                                    {{ article.title|slice(0, particle.article_title_limit) }}
                                {% else %}
                                    {{ article.title }}
                                {% endif %}
                            </a></h3>
                        </div>
                    {% endif %}
                    {% if particle.article_date|default(true) or particle.article_author|default(true) or particle.article_category|default(true) or particle.article_hits|default(true) %}
                        <div class="g-article-details">
                            {% if particle.article_date|default(true) %}
                                <span class="g-article-date">
                                    <i class="fa fa-clock-o"></i>{{ article.created|date(particle.article_date_format) }}
                                </span>
                            {% endif %}
                            {% if particle.article_author|default(true) %}
                                <span class="g-article-author">
                                    <i class="fa fa-user"></i>{{ article.author.name }}
                                </span>
                            {% endif %}
                            {% if particle.article_category|default(true) %}
                            <span class="g-article-category">                            
                                {% for category in article.categories %}
                                    {% if particle.article_category_link|default(true) %}
                                        <a href="{{ category.route }}"><i class="fa fa-folder-open"></i>{{ category.title }}</a>
                                    {% else %}
                                        <i class="fa fa-folder-open"></i>{{ category.title }}
                                    {% endif %}
                                {% endfor %}
                            </span>
                            {% endif %}
                            {% if particle.article_hits|default(true) %}
                            <span class="g-article-hits">
                                <i class="fa fa-eye"></i>{{ article.hits }}
                            </span>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if particle.article_text|default(true) %}
                        <div class="g-article-text">
                            {% if particle.article_text_limit %}
                                {{ article.text|striptags|slice(0, particle.article_text_limit)|html|raw }}
                            {% else %}
                                {{ article.introtext|html|raw }}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endset %}

    <div class="g-joomla-articles{% if particle.css.class %} {{ particle.css.class|e }}{% endif %}" {% if particle.extra %}{{ attr_extra|raw }}{% endif %}>
        <div class="g-grid">
            {{ article_item }}
        </div>
    </div>

{% endblock %}