<div id="position-{{ position.name }}" class="page">
    <h4>
        <span data-g-config-href="{{ gantry.route('positions', position.name, 'rename') }}"
              data-g-config-method="post"
              data-title-editable="{{ position.title }}"
              class="title"
              data-tip="{{ position.title }}"
              data-title-editable-type="title"
        >
            {{ position.title }}
        </span>
        <i class="fa fa-fw fa-pencil font-small" aria-hidden="true" tabindex="0" aria-label="{{ 'GANTRY5_PLATFORM_EDIT_TITLE'|trans(position.title) }}" data-title-edit=""></i>
        <span class="float-right font-small">
            <a href="{{ gantry.route('positions', position.name, 'add') }}" class="button button-primary button-simple position-add"
                    title="{{ 'GANTRY5_PLATFORM_POSITION_ADD'|trans }}"
                    aria-label="{{ 'GANTRY5_PLATFORM_POSITION_ADD'|trans }}"
            >
                <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
            </a>
        </span>
        <span class="font-small position-key">
            <span data-g-config-href="{{ gantry.route('positions', position.name, 'rename') }}"
                  data-g-config-method="post"
                  data-title-editable="{{ position.name }}"
                  data-tip="{{ position.name }}"
                  data-title-editable-type="key"
                >
                {{ position.name }}
            </span>
            <i class="fa fa-fw fa-pencil font-small" aria-hidden="true" tabindex="0" aria-label="{{ 'GANTRY5_PLATFORM_EDIT_TITLE'|trans(position.title) }}" data-title-edit=""></i>
        </span>
    </h4>
    <div class="position-container inner-params" data-g5-position="{{ position.toJson(true)|e('html_attr') }}" data-g5-position-name="{{ position.name }}">
        <ul>{% spaceless %}
            {% for module in position %}
                {% include 'pages/positions/item.html.twig' with { module: module } %}
            {% endfor %}
        {% endspaceless %}</ul>
    </div>
    <div class="inner-params">
        <div class="center position-actions">
            <button data-tip="{{ 'GANTRY5_PLATFORM_DUPLICATE'|trans }}"
                    aria-label="{{ 'GANTRY5_PLATFORM_DUPLICATE_X'|trans(position.title) }}"
                    title="{{ 'GANTRY5_PLATFORM_DUPLICATE'|trans(position.title) }}"
                    data-g-config="duplicate"
                    data-g-config-href="{{ gantry.route('positions', position.name, 'duplicate') }}"
                    data-g-config-method="POST"
                    class="button button-secondary"
            >
                <i class="fa fa-fw fa-copy" aria-hidden="true"></i>
            </button>
            <button data-tip="{{ 'GANTRY5_PLATFORM_DELETE'|trans }}"
                    title="{{ 'GANTRY5_PLATFORM_DELETE_X'|trans(position.title) }}"
                    aria-label="{{ 'GANTRY5_PLATFORM_DELETE'|trans(position.title) }}"
                    data-g-config="delete"
                    data-g-config-href="{{ gantry.route('positions', position.name, 'delete') }}"
                    data-g-config-method="POST"
                    class="button red"
            >
                <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
