<div id="position-{{ title }}" class="page">
    <h4>
        <span data-g-config-href="{{ gantry.route('positions', title, 'rename')|e }}" data-g-config-method="post" data-title-editable="{{ title|e }}" class="title" data-tip="{{ title|e }}">{{ title|e }}</span> <i class="fa fa-fw fa-pencil font-small" tabindex="0" aria-label="{{ 'GANTRY5_PLATFORM_EDIT_TITLE'|trans|replace({'%s': title|e}) }}" data-title-edit=""></i>
        <span class="float-right font-small"><button class="button button-primary button-simple" title="{{ 'GANTRY5_PLATFORM_POSITION_ADD'|trans }}" aria-label="{{ 'GANTRY5_PLATFORM_POSITION_ADD'|trans }}"><i class="fa fa-fw fa-plus"></i></button></span>
    </h4>
    <div class="inner-params" style="height: 257px; overflow: auto;">
        <ul>
            {% set entries = {'Particle A': 'particle', 'Particle B': 'particle', 'Module A': 'module', 'Module B': 'module'} %}
            {% if name == 1 %}{% set entries = {'Module A': 'module', 'Widget 1': 'widget', 'Particle A': 'particle', 'Particle B': 'particle', 'Widget 2': 'widget', 'Module B': 'module', 'Something': 'spacer', 'Module A': 'module', 'Widget 1': 'widget', 'Particle A': 'particle', 'Particle B': 'particle', 'Widget 2': 'widget', 'Module B': 'module', 'Something': 'spacer'} %}{% endif %}
            {% set statuses = [
                {
                    'label': 'Assigned to all',
                    'icon': '<i class="fa item-status fa-fw fa-circle"></i>'
                },
                {
                    'label': 'Not assigned',
                    'icon': '<i class="fa item-status fa-fw fa-circle-o"></i>'
                },
                {
                    'label': 'Some assignments',
                    'icon': '<i class="fa item-status fa-fw fa-adjust"></i>'
                }
            ] %}
            {% for entry, type in entries %}
            <li data-mm-blocktype="{{ type }}">
                {% set status = random([0, 1, 2]) %}
                {% set status = attribute(statuses, status) %}
                <i class="fa fa-reorder font-small item-reorder size-10"></i>
                <div class="title size-80">
                    <div><span class="title-status" title="{{ status.label }}" data-tip="{{ status.label }}" aria-label="{{ status.label }}">{{ status.icon|raw }}</span> {{ entry }}</div>
                </div>
                <i class="fa item-settings fa-cog size-10"></i>
            </i>
            {% endfor %}
        </ul>
    </div>
    <div class="inner-params">
        <div class="center position-actions">
            <button data-tip="{{ 'GANTRY5_PLATFORM_DUPLICATE'|trans }}" aria-label="{{ 'GANTRY5_PLATFORM_DUPLICATE'|trans ~ ' ' ~ title|e }}" title="{{ 'GANTRY5_PLATFORM_DUPLICATE'|trans ~ ' ' ~ title|e }}" data-g-config="duplicate" data-g-config-href="{{ gantry.route('positions', title, 'duplicate')|e }}" data-g-config-method="POST" class="button button-secondary">
                <i class="fa fa-fw fa-copy"></i>
            </button>
            <button data-tip="{{ 'GANTRY5_PLATFORM_DELETE'|trans }}" title="{{ 'GANTRY5_PLATFORM_DELETE'|trans  ~ ' ' ~ title|e }}" aria-label="{{ 'GANTRY5_PLATFORM_DELETE'|trans  ~ ' ' ~ title|e }}" data-g-config="delete" data-g-config-href="{{ gantry.route('positions', title)|e }}" data-g-config-method="DELETE" class="button red">
                <i class="fa fa-fw fa-trash-o"></i>
            </button>
        </div>
    </div>
</div>
