{% set value = (value is null ? field.default : value) %}

<label class="inline">
    {{ field.label }}
    <input class="input"
           type="date"
           name="{{ field.name }}"
           value="{{ value }}"
           {% if field.autofocus in ['on', 'true', 1] %}autofocus="autofocus"{% endif %}
           {% if field.novalidate in ['on', 'true', 1] %}novalidate="novalidate"{% endif %}
           {% if field.autocomplete in ['on', 'off'] %}autocomplete="{{ field.autocomplete }}"{% endif %}
           {% if field.validate.required in ['on', 'true', 1] %}required="required"{% endif %}
           {% if field.validate.min %}min="{{ field.validate.min }}"{% endif %}
           {% if field.validate.max %}max="{{ field.validate.max }}"{% endif %}
    />
</label>
