{% set htmlContent -%}
{% block content -%}
{% endblock -%}
{% endset -%}

<!DOCTYPE xhtml>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Gantry Administration</title>
        <meta name="description" content="Gantry Administration">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %}
            {{ gantry.styles('head')|join("\n    ")|raw }}
        {% endblock %}

        {% block javascript %}
            <script>
                var GANTRY_AJAX_SUFFIX = '{{ gantry.ajax_suffix }}';
                var GANTRY_AJAX_URL = '{{ gantry.route('%ajax%')|e }}';
                var GANTRY_AJAX_CONF_URL = '{{ gantry.route('configurations/%ajax%')|e }}';
                var GANTRY_AJAX_NONCE = null;
                var GANTRY_PLATFORM = 'prime';
            </script>
            {{ gantry.scripts('head')|join("\n    ")|raw }}
        {% endblock %}
    </head>
    <body class="g-prime gantry5 gantry5-prime">
        <div id="g5-container">
            {{ htmlContent }}

            {% block footer_section %}
                {{ gantry.scripts('footer')|join("\n    ")|raw }}
            {% endblock %}
        </div>
    </body>
</html>
