{% extends "partials/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url('gantry-admin://assets/css-compiled/admin.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url('gantry-admin://assets/css/font-awesome.min.css') }}" type="text/css" />
    {{ parent() }}
    <style>
        #admin-main .content-padding { padding: 0; }
        #admin-main .admin-block { padding: 0; }
    </style>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ url('gantry-admin://assets/js/main.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="g5-container" class="g-container">
        <div class="g-grid">
            <div class="g-block sidebar-block size-1-7">
                <nav id="gantry" class="g-block sidebar-block">
                    {% include "gantry/partials/navigation.html.twig" %}
                </nav>
            </div>
            <div class="g-block">
                <div data-mode-indicator="production"></div>
                <section id="main">
                    <div id="main-header">
                        {% include "gantry/partials/header.html.twig" %}
                    </div>
                    <div class="g-content">
                        {% block gantry %}
                        {% endblock %}
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_section %}
    <footer id="footer">
        <a href="http://gantry.org">Gantry Administration</a> by <a href="http://www.rockettheme.com">RocketTheme</a>.
    </footer>
{% endblock %}
