<section
    {%- if particle.css.id %} id="{{ particle.css.id|e }}"{% endif %} class="menu-selector-bar{%- if particle.css.class %} {{ particle.css.class|e }}{% endif %}" role="navigation">
    <ul class="g-grid g-toplevel menu-selector" data-mm-id="" data-mm-base="" data-mm-base-level="1">
        {% for child in item %}
            {% set active = (child.path|split('/')|first) == (path|split('/')|first) ? ' active' : '' %}
            <li data-mm-id="{{ child.path }}" data-mm-level="{{ child.level }}"{% if child.type == 'particle' or child.type == 'module' %} class="g-menu-item-{{ child.type }}{{ active }}" data-mm-original-type="{{ child.type }}"{% else %} class="{{ active }}"{% endif %}>
                {% include 'menu/item.html.twig' with {'item': child, 'target': 'columns' } %}
            </li>
        {% endfor %}
    </ul>
    <a class="global-menu-settings" href="{{ gantry.route('menu/edit', id) }}">
        <i class="fa fa-cog"></i>
    </a>
</section>
<div class="column-container" data-g5-menu-columns="">
    {% if columns %}
        {% include 'menu/columns.html.twig' with {'item': columns } %}
    {% endif %}
</div>
