<a
    {% if item.children %}
        data-g5-ajaxify data-g5-ajaxify-target="[data-g5-menu-{{ target }}]"
    {% endif %}
    href="{{ gantry.route('menu', item.path) }}">
    {% if item.menu_image %}
        <img src="{{ item.menu_image|e }}" alt="{{ item.title|e }}" />
        {% if item.menu_text %}
            <span class="g-image-title">{{ item.title|e }}</span>
        {% endif %}
    {% elseif item.menu_icon %}
        <i class="fa fa-fw fa-{{ item.menu_icon|e }}"></i>
        {% if item.menu_text %}
            {{ item.title|e }}
        {% endif %}
    {% else %}
        {{ item.title|e }}
    {% endif %}
    {% if (item.children) -%}
        <span class="parent-indicator"></span>
    {%- endif %}
</a>
