<div id="g-changelog">
    {{ changelog|raw }}
</div>
<div class="g-modal-actions clearfix">
    <div class="float-left">
        <a tabindex="0" class="button" target="_blank" href="{{ fullurl }}"><i class="fa fa-globe" aria-hidden="true"></i> {{ 'GANTRY5_PLATFORM_CHANGELOG_FULL'|trans }}</a>
    </div>
    <div class="float-right">
        <a tabindex="0" class="button" target="_blank" href="{{ url }}"><i class="fa fa-github" aria-hidden="true"></i> {{ 'GANTRY5_PLATFORM_CHANGELOG_GITHUB'|trans }}</a>
        <button class="button button-primary g5-dialog-close" href="#" data-g-delete-cancel="">{{ 'GANTRY5_PLATFORM_CLOSE'|trans }}</button>
    </div>
</div>
