{% set sections = '<strong>' ~ particles|join('</strong>, <strong>')|raw ~ '</strong>' %}

<div class="card settings-block">
    <h4>{{ 'GANTRY5_PLATFORM_LM_PARTICLE_LOSS_WARNING'|trans }}</h4>
    <div class="inner-params">

        {% if particles|length > 1 %}
        {{ 'GANTRY5_PLATFORM_LM_PARTICLE_LOSS_SECTIONS_X'|trans(sections)|raw }}
        {% else %}
        {{ 'GANTRY5_PLATFORM_LM_PARTICLE_LOSS_SECTION_X'|trans(sections)|raw }}
        {% endif %}
        {{ 'GANTRY5_PLATFORM_LM_PARTICLE_LOSS_TEXT'|trans }}
        <br /><br />
        {{ 'GANTRY5_PLATFORM_TO_CONTINUE'|trans }}
    </div>
</div>

<div class="g-modal-actions">
    <button tabindex="0" class="button button-primary" role="button" data-g-delete-confirm>{{ 'GANTRY5_PLATFORM_CONTINUE'|trans }}</button>
    <button class="button button-primary g5-dialog-close" role="button" data-g-delete-cancel>{{ 'GANTRY5_PLATFORM_CLOSE'|trans }}</button>
</div>
