<div class="card settings-block">
    <h4>Particles Loss</h4>
    <div class="inner-params">
        The section{{ particles|length > 1 ? 's' : '' }} <strong>{{ particles|join("</strong>, <strong>")|raw }}</strong> do{{ particles|length == 1 ? 'es' : '' }} not exist in the Layout that is about to get loaded. Any particles within those sections will be lost.
        <br /><br />
        {{ 'GANTRY5_PLATFORM_TO_CONTINUE'|trans }}
    </div>
</div>

<div class="g-modal-actions">
    <button tabindex="0" class="button button-primary" role="button" data-g-delete-confirm>{{ 'GANTRY5_PLATFORM_CONTINUE'|trans }}</button>
    <button class="button button-primary g5-dialog-close" role="button" data-g-delete-cancel>Close</button>
</div>
