<div class="card settings-block">
    <h4 id="g-modal-labelledby">{{ 'GANTRY5_PLATFORM_UNSAVED'|trans }}</h4>
    <div id="g-modal-describedby" class="inner-params">
        {{ 'GANTRY5_PLATFORM_UNSAVED_DESC'|trans }}
    </div>
</div>

<div class="g-modal-actions">
    <button tabindex="0" class="button button-primary" role="button" data-g-unsaved-save>{{ 'GANTRY5_PLATFORM_UNSAVED_SAVE'|trans }}</button>
    <button tabindex="0" class="button g5-dialog-close" role="button" data-g-unsaved-discard>{{ 'GANTRY5_PLATFORM_UNSAVED_DISCARD'|trans }}</button>
    <button tabindex="0" class="button g5-dialog-close" role="button" data-g-unsaved-stay>{{ 'GANTRY5_PLATFORM_UNSAVED_STAY'|trans }}</button>
</div>
