<div class="card settings-block">
    <h4>{{ 'GANTRY5_PLATFORM_UNSAVED'|trans }}</h4>
    <div class="inner-params">
        {{ 'GANTRY5_PLATFORM_UNSAVED_DESC'|trans }}
    </div>
</div>

<div class="g-modal-actions">
    <a class="button button-primary" data-g-unsaved-save>{{ 'GANTRY5_PLATFORM_UNSAVED_SAVE'|trans }}</a>
    <a class="button g5-dialog-close" data-g-unsaved-discard>{{ 'GANTRY5_PLATFORM_UNSAVED_DISCARD'|trans }}</a>
    <a class="button g5-dialog-close" data-g-unsaved-stay>{{ 'GANTRY5_PLATFORM_UNSAVED_STAY'|trans }}</a>
</div>