{% include 'style.html.twig' %}

<div class="g5i">
    <h1>
        <span class="g5-title">{{ name }} Template Updated</span>
        <span class="g5-info">v{{ version }} / {{ date }}</span>
    </h1>

    <div class="g5-actions">
        <a href="{{ edit_url }}" class="g5-button">Configure {{ name }} <span class="g5-icon icon-chevron-right"></span></a>
    </div>

    <div class="g5-rockettheme">
        <a href="http://rockettheme.com"><span>RocketTheme</span></a>
    </div>
</div>