{% extends 'forms/' ~ layout|default('field') ~ '.html.twig' %}

{% set outline = field.outline ?: nested(data, scope ~ field.outline_field) %}
{% set list = outline ? gantry.configurations.getParticleInstances(outline, field.particle, false) %}

{% block input %}
    <div id="{{ field.id }}">
        {% for id, title in list %}
        <div>
        <input
                id="{{ field.id|default(scope ~ name) ~ '-' ~ id }}"
                type="radio"
                name="{{ (scope ~ name)|fieldName }}"
                value="{{ id }}"
                {% if value == id %}checked="checked"{% endif %}
        />
        <label for="{{ field.id|default(scope ~ name) ~ '-' ~ id }}">{{ title }}</label>
        {% endfor %}
        </div>
    </div>
{% endblock %}