{% extends 'forms/' ~ layout|default('field') ~ '.html.twig' %}

{% set outline = field.outline ?: nested(data, scope ~ field.outline_field) %}
{% set list = outline ? gantry.configurations.getParticleInstances(outline, field.particle, false) %}

{% block input %}
    <div id="{{ field.id }}">
        {% if list %}
            <div class="input-group">
                {% for id, particle in list %}
                    <label for="{{ field.id|default(scope ~ name) ~ '-' ~ id }}">
                        <input
                                id="{{ field.id|default(scope ~ name) ~ '-' ~ id }}"
                                type="radio"
                                name="{{ (scope ~ name)|fieldName }}"
                                value="{{ id }}"
                                {% if value == id %}checked="checked"{% endif %}
                        />
                        <span>{{ particle.title }}</span>
                    </label>
                {% endfor %}
            </div>
        {% else %}
            No Inheritance, select an Outline first
        {% endif %}
    </div>
{% endblock %}