{% extends "@nucleus/page_head.html.twig" %}

{% block head_title %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {META}
    <title><!-- IF UNREAD_NOTIFICATIONS_COUNT -->({UNREAD_NOTIFICATIONS_COUNT}) <!-- ENDIF --><!-- IF not S_VIEWTOPIC and not S_VIEWFORUM -->{SITENAME} - <!-- ENDIF --><!-- IF S_IN_MCP -->{L_MCP} - <!-- ELSEIF S_IN_UCP -->{L_UCP} - <!-- ENDIF -->{PAGE_TITLE}<!-- IF S_VIEWTOPIC or S_VIEWFORUM --> - {SITENAME}<!-- ENDIF --></title>

    <!-- IF S_ENABLE_FEEDS -->
    <!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{U_FEED}" /><!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{U_FEED}?mode=news" /><!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{U_FEED}?mode=forums" /><!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{U_FEED}?mode=topics" /><!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{U_FEED}?mode=topics_active" /><!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}" /><!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}" /><!-- ENDIF -->
    <!-- ENDIF -->

    <!-- IF U_CANONICAL -->
    <link rel="canonical" href="{U_CANONICAL}" />
    <!-- ENDIF -->

    <link rel="stylesheet" href="{{ url('gantry-theme://css/font-awesome.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url('gantry-theme://css/stylesheet.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url('gantry-theme://css/en/stylesheet.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url('gantry-theme://css-compiled/phpbb.css') }}" type="text/css" />
    <link href="{{ url('gantry-theme://css/responsive.css') }}?assets_version={T_ASSETS_VERSION}" rel="stylesheet" type="text/css" media="only screen and (max-width: 979px), only screen and (max-device-width: 979px)" />

    <!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
    <link rel="stylesheet" href="{{ url('gantry-theme://css/bidi.css') }}?assets_version={T_ASSETS_VERSION}" type="text/css" />
    <!-- ENDIF -->

    <!-- IF S_PLUPLOAD -->
    <link rel="stylesheet" href="{{ url('gantry-theme://css/plupload.css') }}?assets_version={T_ASSETS_VERSION}" type="text/css" />
    <!-- ENDIF -->

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{{ url('gantry-theme://css/tweaks.css') }}?assets_version={T_ASSETS_VERSION}" type="text/css" />
    <![endif]-->

    <!-- EVENT overall_header_stylesheets_after -->

    <!-- EVENT overall_header_head_append -->

    {$STYLESHEETS}

    <!-- EVENT overall_header_stylesheets_after -->

{% endblock %}
